@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif; 
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.font-mono {
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

/* Seccion Header */
header {
    width: 100%;
    align-items: center;
    padding: 22px 6.944%;
}

.logo-header {
    height: 36px;
    width: 36px;
}

.mobile-menu {display: none;}

.desktop-menu {width: 450px;}

.desktop-menu .nav-bar {
    list-style: none;
    cursor: pointer;
}

.desktop-menu .items {
    color: #060A24;
    text-decoration: none;
}

.desktop-menu .items:visited {color: #060A24;}

.desktop-menu .items:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.desktop-menu .items:active {
    color: rgba(6,10,36,0.56); 
    text-decoration: line-through;
}

/* Seccion Main*/
main {width: 100%;}

/* helloWorld*/
.main-helloWorld {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 5px 13.888%;
}

.main-helloWorld .helloWorld {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0px;
}

.helloWorld-decoration {text-decoration: line-through;}

.blue-dot {color:#0000EC;}

.main-helloWorld .text {
    font-weight: 500;
}

.main-helloWorld .first-button {
    width: 226px;
    margin: 56px 0 5px;
}

.button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

.button {
    background: #00F3BB;
    height: 56px;
    font-size: 1.125rem;
    font-family: 'IBM Plex Mono', monospace; 
    border: #00F3BB;
    cursor: pointer;
}

/*podcast*/
.main-podcast {
    width: 100%;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    z-index: -1;
}

.main-podcast .podcast-title {
    font-size: 3rem;
    color: #FFFFFF;
    padding: 186px 0 26px 13.888%;
    font-weight: 400;
}

.podcast-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 162.6px;
}

.podcast-container .podcast-frames {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.podcast-container .spotify {
   width: 40%;
   border-radius: 10px;
   margin-bottom: 70px;
}

/*we*/
.main-we {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -168px;
    margin-bottom: -108px;
}

.main-we .we-img {
    width: 33%;
    margin: 0 4.33% 0px 13.888%;
    z-index: 100;
    min-width: 370px;
}

.we-container-text {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.we-container-text :nth-child(2){
    padding-bottom: 10px;
}

.main-we .we-title {
    font-size: 3rem;
    font-weight: 300;
    padding: 168px 0 24px;
}

.we-container-text p {line-height: 24px;}

/*guests*/
.main-guests {width: 100%;}

.main-guests .guests-title {
    font-size: 3rem;
    padding: 30px 0 36px 13.888%;
}

.guests-img-box {
    display: flex;
    flex-wrap: wrap;
}

.guests-img-box .guests-img {
    width: 33.33%;
    margin-bottom: -2px;
}

/*topics*/
.main-topics {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topics-container {padding: 0 13.888% 34px;}

.main-topics .topics-title {
    font-size: 3rem;
    padding: 64px 60px 56px 13.888%;
}

.topics-container .topics-img {
    height: 104px;
    width: 104px;
}

.topics-container .topics-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.topics-box {
    width: 220px;
    text-align: center;
}

/*latesNews*/
.main-latestNews {
    width: 100%;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-latestNews .main-latestNews-title {
    color:#FFFFFF;
    font-size: 3rem;
    padding: 213px 0px 36px;
    font-weight: 300;
    text-align: center;
}

.main-latestNews button {
    width: 345px;
    margin-bottom: 151px;
}

/*seccion footer*/
footer {
    width: 100%;
    padding: 36px 6.944% 31px;
    flex-wrap: wrap;
}

.media-social-icons {
    display: flex;
    justify-content: flex-end;
}

footer .footer-icon {
    margin-left: 36px;
}

.media-social-icons svg {
    width: 18px;
    height: 28px;
    fill: #060A24;
}


.media-social-icons svg:visited {
    fill: #060A24;
}
.media-social-icons svg:hover{
    fill: #00F3BB;
    transform: scaleY(1.5) scaleX(1.5);
}

/*media query*/

@media screen and (max-width: 768px) {
   
    /*seccion header*/
    header {padding: 10px;}

    .logo-header {
        height: 24px;
        width: 24px;
    }

    .font-mono {
        font-size: 0.875rem;
        font-family: 'IBM Plex Mono', monospace;
    }
    
    .desktop-menu {display: none;}
    
    input {display: none;}
    
    .mobile-menu {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
  
    .mobile-menu li {
        font-family: 'IBM Plex Mono', monospace;
        list-style: none;
        height: 70px;
        padding: 10px 20px;
        background-color: #0000EC;
        line-height: 50px;
    }
    .mobile-menu  .items {
        color: #FFFFFF; 
        text-decoration: none;
    }
    
    .mobile-menu .items:visited {
        color: #FFFFFF;
    }
    .mobile-menu .items:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .mobile-menu .items:active {
        color:  rgba(6,10,36,0.56);
    }
    
    .mobile-menu .nav-bar-toggle {
        width: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        transition: all 1s ease;
        transform: translateX(100%);
        font-size: 1rem;
    }
        
    .linea {
        width: 18px;
        height: 2px;
        background-color: #000;
        margin-bottom: 4px;
        border-radius: 2px;
        transition: all 1s ease;
        transform-origin: left;
    }

    input:checked + label .linea-top {
        transform: rotate(42.5deg);
        background-color:#060A24 ;
    }

    input:checked + label .linea-middle {
        background-color: white;
    }

    input:checked + label .linea-bottom {
        transform: rotate(-42.5deg);
        background-color:#060A24;
    }

    input:checked ~ .nav-bar-toggle {
        transform: translateX(0);
    }
    
    /* seccion main-hello*/
    .main-helloWorld {padding: 29px 16px 24px;}

    .main-helloWorld .helloWorld {font-size: 2.25rem;}

    .blue-dot {color: #060A24;}

    .main-helloWorld .text {
        font-weight: 500;
        width: 100%;
    }

    .main-helloWorld .first-button {
        width: 100%;
        margin-top: 36px;
    }

    .button {
        height: 48px;
        font-size: 1rem;
    }
    
    /*podcast*/
    .main-podcast {
        width: 100%;
        clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    }
    
    .main-podcast .podcast-title {
        font-size: 2.25rem;
        padding: 64px 0 21px 16px;
    }
    
    .podcast-container {padding: 0 11px 149.6px;}
    
    .podcast-container .podcast-frames {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .podcast-container .spotify {
        width: 100%;
        margin-bottom: 11px;
    }

    /*we*/
    .main-we {
       margin-bottom: -168px;
    }
     
    .main-we .we-img {
        width: 100%;
        margin: 68px 0 27px;
        min-width: 0;
    }
    
    .we-container-text {
        margin-left: 0px;
        width: 100%;
        padding: 0 16px 54px;
    }
    
    .main-we .we-title {
        font-size: 2.25rem;
        padding: 0 0px 8px;
    }
    
    /*guests*/
    .main-guests .guests-title {
        font-size: 2.25rem;
        padding: 0  50px 14px 16px;
    }
    
    .guests-img-box .guests-img {width: 100%;}
    
    /*topics*/
    .topics-container {
        padding: 0 16px 36px;
        flex-direction: column;
        align-items: center;
    }

    .topics-box {margin-bottom: 36px;}
    
    .main-topics .topics-title {
        font-size: 2.25rem;
        padding: 48px 16px 24px;
    }
    
    /*latestNews*/
    .main-latestNews .main-latestNews-title {
        font-size: 2.25rem;
        padding: 64px 16px 36px;
        text-align: center;
    }
    
    .main-latestNews button {
        width: 90%;
        margin-bottom: 67px;
    }
    
    /*footer*/
    footer {
        display:flex;
        flex-direction: column;
        padding: 24px 0 31px;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    footer .footer-copyright {
        padding-bottom: 16px;
        width: 230px;
    }
    
    footer .media-social-icons {
        justify-content: space-between;
        padding: 0 ;
        width: 234px;
    }

    footer .footer-icon {
        margin: 0;
    }
}